body{

    background-color: red;
}

.painel {
    background-color: white;
    width: 500px;
    height: 500px;
    margin:auto;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Comic Sans MS', sans-serif ;
}
#sim{
    height: 40px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px; ;
    color: white;
    margin-left: -60px;
    }

#nao{
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px; ;
    position: absolute;
    margin-left: 10px;
    color: white;
}
    